* {
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
/*Scroll menu Parts*/
.scrollmenu {
    background-color: #333;
    overflow: hidden;
    white-space: nowrap;
    position:fixed;
    top: 0;
    width:100%;
    transition:0.4s;
}
    .scrollmenu a.normal {
        display: inline-block;
        color: white;
        padding: 14px;
        text-decoration: none;
        font-family: "MoonBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
    }

        .scrollmenu a.normal:hover {
            background-color: #777;
        }

    .scrollmenu input[type=text] {
        padding: 15px 15px 15px 5px;
        border:0;
        width:300px;
        height:inherit;
        margin-left:50px;
        font-family: "MoonBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
        font-size:15px;
    }
    .scrollmenu a.override {
        display: inline-block;
        color: white;
        padding: 14px;
        text-decoration: none;
        margin-right:50px;
        font-family: "MoonBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
    }
.fa-search{
    color:white;
}
    .fa-search:hover {
        color: #777;
    }
/*Devide Layout to Two Columns*/
.row {
    display:flex;
    margin:0px 0px 100px 0px;
}
.column.main {
    flex: 85%;
    padding:0px 10px 10px 100px;
}
.column.side {
    flex: 15%;
    padding:10px 10px 10px 10px;
}
.column.side h2{
    text-align:center;
}
.column.side img{
    width:inherit;
    max-width:100%;
    height:auto;
}
.cover-image{
    margin-top:50px;
}
/*Footer*/
.footer {
    position: fixed;
    background-color: #333;
    bottom: 0px;
    border-top: 1px solid #E8E8E8;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
    .footer p {
        font-family: "MoonBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
        color:white;
    }
.fa-facebook-f{
    color:white;
}
/*Brief of Posts*/
.post img {
    float: left;
    border: 1px solid;
    border-color: palevioletred;
    margin: 0px 20px 0px 0px;
    max-width: 200px;
    max-height: 200px;
}
.post {
    display: inline-block;
    font-family: "RobotoMedium","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
    font-size: 22px;
    margin-top:20px;
}
.post p{
    margin:0;
    color:rgb(78,78,78);
}
    .post h2 {
        font-family: "RobotoBold","Trebuchet MS","Lucida Sans Unicode",sans-serif,Arial;
        font-size:35px;
        margin-top:10px;
        margin-bottom:20px;
    }
    .post p.dtime {
    color: darkgray;
    margin-top:10px;
    margin-bottom:10px;
}
